<!DOCTYPE html>
<html>
<head>
  <title>Gestion des notes - Enregistrement</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <h1>Gestion des notes</h1>
    <nav>
      <ul>
        <li><a href="accueil.html">Enregistrement d'eleves</a></li>
        <li><a href="creation.html">creation</a></li>
        <li><a href="listeleves.html">Liste des élèves</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    <h2>Enregistrement d'un élève</h2>
    <form>
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" required>
      
      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" name="prenom" required>
      <label for="date">Date de naissance :</label>
      <input type="text" id="date" name="date" required>
      <label for="classe">classe:</label>
      <input type="text" id="classe" name="classe" required>
      <label for="identifiant">identifiant :</label>
      <input type="text" id="identifiant" name="identifiant" >
      
            
      <button type="submit">Enregistrer</button>
    </form>
  </div>
</body>
</html>

