<!DOCTYPE html>
<html>
<head>
  <title>Projet de gestion des notes - Connexion</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Interface de connexion</h1>
    <form>
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username" required>
      
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" required>
      
      <button type="submit"> Se connecter</button>
    </form>
  </div>
</body>
</html>
